 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
    background-image: url("/food.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    color: white;
 }

 .main-div {
    background: rgba(8, 8, 8, 0.73);
    height: 100%;
    width:100%;
    position: absolute;
    color: white;
 }

.food-form {
    color: white;
    width: 80%;
    text-align: center;
    margin: 10% auto;
}

.title {
    width: 100%;
    margin: 20px 0;
}

.add-categories {
    height: 50px;
    width: 70%;
    background-color: white;
    font-size: 16px;
}

input[type='submit'],
button,
[aria-label] {
    cursor: pointer;
}

.add-categories.placeholder {
    margin-left: 10px;
}

.add-button {
    margin-top: 10px;
    height: 50px;
    font-size: 16px;
    width: 10%;
}

.counter-text {
    margin: 20px 0;
    font-size: 20px;
    color: white;
}

.categories {
    margin-top: 15%;
    text-align: center;
}

.food-table {
    text-align: left;
    color: white;
    width: 80%;
    text-align: center;
}

.food-table-header {
    text-align: left;
}

.add-food {
    margin: 20px 0;
    height: 50px;
    color: white;
}

.delete-button {
    padding: 10px;
}

.edit-button {
    padding: 10px;
}

.edit-box {
    display: none;
    margin-top: 10px;
    width: 300px;
}

td {
    font-size: 20px;
}
